<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SVG Chart Test</title>
        <style>
        .svgContainer {
            display: inline;
        }
        #sc1,
        #sc2,
        #sc3 {
          width: 400px;
          height: 400px;
          background-color: #a0a0a0;
        }
    </style>
    </head>
    <body>
      top<br>

<div class="svgContainer" id="sc1"></div>
<div class="svgContainer" id="sc2"></div>


<br>
bot
<script type="text/javascript" src='svj.js'>

</script>
    </body>
</html>
